.web-bannercontainer{
    background-Image: url("/src/images/Mask Group 88.png") !important;
    background-Repeat: no-repeat;
    width: 100% !important;
    height: 504px !important;
    margin-top:112px;
}

.web-bannercontainer .btncontainer{
    margin: 0px 100px 0px 0px;
}

.web-bannercontainer .main-text{
    font-family: Acumin Pro !important;
    text-align: left !important;
    width: 517px;
}

.web-bannercontainer .bannerItems{
    height:100% !important;
}

.web-bannercontainer .trailbtn{
    width: 160px !important;
    height: 69px !important;
    background: #7C24EF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
}

.web-bannercontainer .purchasebtn{
    width: 160px !important;
    height: 69px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1660EA;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
}

.web-bannercontainer .trailbtn{
 margin-right: 32px;
}

.web-bannercontainer .trailbtn .trailtxt{
    text-align: center;
    font-family: Acumin Pro !important;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.web-bannercontainer .purchasebtn .plantxt{
    text-align: center;
    font-family: Acumin Pro !important;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1660EA;
    opacity: 1;
}

.mob-bannercontainer{
    background-Image: url("/src/images/maskgroup_mobile.png") !important;
    background-Repeat: no-repeat;
    width: 100% !important;
    height: 269px !important;
    margin-top:112px;
    background-size: cover;
    background-position: bottom;
}

.mob-bannercontainer h1{
    font-size: 25px !important;
}

.mob-bannercontainer .trailbtn .trailtxt{
    text-align: center;
    font-family: Acumin Pro !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.mob-bannercontainer .purchasebtn .plantxt{
    text-align: center;
    font-family: Acumin Pro !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #1660EA;
    opacity: 1;
}

.mob-bannercontainer .trailbtn{
    width: 122px !important;
    height: 38px !important;
    background: #7C24EF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
    margin: 10px auto;
}

.mob-bannercontainer .purchasebtn{
    width: 122px !important;
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1660EA;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
    margin: 0 auto;
}
.mob-bannercontainer .main-text{
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-family: Acumin Pro !important;
}

.mob-bannercontainer h1{
    font-weight: bold;
}
.tab-bannercontainer{
    background-Image: url("/src/images/Mask Group 88.png") !important;
    background-Repeat: no-repeat;
    width: 100% !important;
    height: 504px !important;
    margin-top:112px;
}

.tab-bannercontainer .btncontainer{
    margin: 0px 40px 0px 0px;
}

.tab-bannercontainer .main-text{
    text-align: left !important;
    font-family: Acumin Pro !important;
}

.tab-bannercontainer .bannerItems{
    height:100% !important;
}

.tab-bannercontainer .trailbtn{
    width: 160px !important;
    height: 69px !important;
    background: #7C24EF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
}

.tab-bannercontainer .purchasebtn{
    width: 160px !important;
    height: 69px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1660EA;
    border-radius: 5px;
    opacity: 1;
    display: grid;
    place-items: center;
}

.tab-bannercontainer .trailbtn{
 margin-right: 32px;
}

.tab-bannercontainer .trailbtn .trailtxt{
    text-align: center;
     font-family: Acumin Pro !important;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.tab-bannercontainer .purchasebtn .plantxt{
    text-align: center;
     font-family: Acumin Pro !important;
    font-size: 15px;
    letter-spacing: 0px;
    color: #1660EA;
    opacity: 1;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  /* .web-bannercontainer{
    background-Image: url("/src/images/Mask Group 88.png") !important;
    background-Repeat: no-repeat;
    width: 100% !important;
    height: 504px !important;
    margin-top:112px;
} */
}
