.vectone-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 20px 0px;
}
.vectone-footer-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vectone-alrights{
    margin: 0 auto;
    text-align: center;
}
.vectone-socialicons{
   margin: 0 auto;
    text-align: center; 
}
.vectone-alrights p{
    margin: 0px !important;
    font-family: Helvetica !important;
    font-size: 14px;
    letter-spacing: 0.28px;
}
.logo_icon_both{
    margin: 0px 5px;
}
.logo_icon_right{
    margin-right: 5px;
}
.logo_icon_left{
    margin-left: 5px;
}

.vectone-footer-logo{
    padding-left: 72px !important;
}
.vectone-socialicons{
    padding-right: 60px !important;
}
.hangouticon{
    background: #1D76F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 21px #00000029;
    border-radius: 50%;
    opacity: 1;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    margin-right: 60px;
}


.mob-vectone-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0px 20px 0px;
}
.mob-vectone-footer .vectone-footer-row{
    margin: 0 auto;
}

.mob-vectone-footer .vectone-socialicons{
    margin: 0 auto 20px auto;
    padding: 0px !important;
    
}

.mob-vectone-footer .vectone-footer-logo{
    display: grid;
    place-items: center;
    padding: 0px !important;
    margin-bottom: 35px;
}
.mob-vectone-footer  .logo_icon{
    width: 50% !important;
}
.mob-vectone-footer .logo_icon_both{
    margin: 0px 10px;
}
.mob-vectone-footer .logo_icon_right{
    margin-right: 10px;
}
.mob-vectone-footer .logo_icon_left{
    margin-left: 10px;
}

.mob-vectone-footer .vectone-alrights p{
    margin: 0px !important;
    color: #9B9B9B;
    font-family: Helvetica !important;
    font-size: 14px;
    letter-spacing: 0.28px;
}
